/* .wrapper {
    width: 100%;
    height: 100vh;
    background-image: url(../img/john-wick.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
     */

     /* debug */

     body {
        background-color: rgb(71, 62, 50);
     }